<div class="details-wrapper">

  <div class="details-card">

    <h2>Account Information</h2>

    <div *ngIf="loading">
      Loading account details...
    </div>

    <div *ngIf="!loading">

      <div class="detail-row">
        <span>Holder Name</span>
        <strong>{{ user.holderName }}</strong>
      </div>

      <div class="detail-row">
        <span>Account ID</span>
        <strong>{{ user.id }}</strong>
      </div>

      <div class="detail-row">
        <span>Available Balance</span>
        <strong>₹ {{ user.balance }}</strong>
      </div>

    </div>

  </div>

</div>
