.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.back-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background: #2e86de;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.back-btn:hover {
  background: #1b4f72;
}


.history-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.history-container h2 {
  margin-bottom: 25px;
  color: #2c3e50;
}

.loading-text,
.empty-text {
  text-align: center;
  color: #777;
  font-size: 16px;
}

.txn-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  border-bottom: 1px solid #eee;
}

.txn-card:last-child {
  border-bottom: none;
}

.txn-info p {
  margin: 4px 0;
  font-size: 14px;
}

.txn-amount {
  font-size: 18px;
  font-weight: bold;
}

.credit {
  color: #2ecc71;
}

.debit {
  color: #e74c3c;
}
